header {
  width: 100%;
  @include parent(row);
  @include align(space-around, center, center);
}

nav {
  width: 70%;
  margin-top: 15px;
  margin-right: 20px;
  font-weight: 800;
  ul {
    @include parent(row);
    @include align(space-around, left, left);
    li {
      list-style: none;
      @include parent(row);
      @include align(left, left, center);
      a {
        color: $grey;
        text-decoration: none;
        flex-basis: 0;
        flex-grow: 1;
        margin: 10px;
        margin-top: 0px;
      }
    }
  }
}

nav a:hover {
  color: $orange;
  text-decoration: none;
}
